<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="p-parameter">
        <ul class="parameter1 p-parameter-list">
<li class="fore0">
<i class="i-phone"></i>
<div class="detail">
<p title="2688*1242">分辨率：2688*1242</p>  </div>
</li>
<li class="fore1">
<i class="i-camera"></i>
<div class="detail">
<p title="双1200万像素">后置摄像头：双1200万像素</p>     <p title="700万像素">前置摄像头：700万像素</p>  </div>
</li>
<li class="fore2">
<i class="i-cpu"></i>
<div class="detail">
<p title="其他">核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数：其他</p>     <p title="其他">频&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;率：其他</p>  </div>
</li>
</ul>
                                <ul id="parameter-brand" class="p-parameter-list">
<li title="Apple">品牌： <a href="//list.jd.com/list.html?cat=9987,653,655&amp;tid=655&amp;ev=exbrand_14026" clstag="shangpin|keycount|product|pinpai_1" target="_blank">Apple</a>
<!--a href="#none" class="follow-brand btn-def" clstag='shangpin|keycount|product|guanzhupinpai'><b>&hearts;</b>关注 -->
</li>
</ul>
        <ul class="parameter2 p-parameter-list">
<li title="AppleiPhone XS Max">商品名称：AppleiPhone XS Max</li>
<li title="100000287145">商品编号：100000287145</li>
<li title="480.00g">商品毛重：480.00g</li>
<li title="中国">商品产地：中国</li>
<li title="ios系统">系统：ios系统</li>
  </ul>
        <p class="more-par">
<a href="#product-detail" class="J-more-param">更多参数<s class="txt-arr">&gt;&gt;</s></a>
</p>
    </div>
</body>
</html>